{% extends 'base2.html' %}
{% block title %} Login {% endblock %}
{% block main %}

<div class="continer form-p">
    {% load crispy_forms_tags %} 
    <div class="">
        <div class="">
            <div class="class mt-5" >
                <h1>Login</h1>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <br/>
                        <button class="btn btn-secondary">login</button>
                   
                </div>       
        </div>
        </div>
           
    </div>
        
    <a class="btn btn-primary mt-5"  href="{% url 'register' %}">
        Register
      </a> 
    

</div>

{% endblock %}