{% extends 'base.html' %}
{% block title %} REGISTER {% endblock %}
{% block main %}

<div class="continer">
    {% load crispy_forms_tags %} 
    <div class="row g-3 align-items-center">
        <div class="col-sm-7">
            <div class="class mt-5" style = "position:relative; left:20px; top:25px;" >
                <h1>REGISTER</h1>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-secondary">register</button>
                   
                </div>       
        </div>
        </div>
         
    </div>
    <a class="btn btn-primary mt-5" href="{% url 'login' %}">
        back
      </a> 
    
    



{% endblock %}