{% extends 'base2.html' %}
{% block title %} REGISTER {% endblock %}
{% block main %}

<div class="continer form-p">
    {% load crispy_forms_tags %} 
    <div class="">
        <div class="">
            <div class="class mt-5" >
                <h1>REGISTER</h1>
                <div class="form-group">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <button class="btn btn-secondary">register</button>
                   
                </div>       
        </div>
        </div>
         
    </div>
    <a class="btn btn-primary mt-5" href="{% url 'login' %}">
        back
      </a> 
    
    

</div>

{% endblock %}