{% extends 'base.html' %}
{% block title %} ABOUT {% endblock %}
{% block main %}


<div class="card">
<br/><br/><br/>
 
    
                       
                     
                          <p style="text-align: center">الطبي هو المنصة الرقمية العربية الرائدة للصحة في منطقة الشرق الأوسط وشمال أفريقيا التي توفر الاستشارات الطبية التي تسمح للمرضى باستشارة الأطباء المعتمدين عبر الإنترنت عبر مكالمة هاتفية أو رسائل نصية في غضون دقائق.

                            
                             </p>
                             <p style="text-align: center">وبما أننا نؤمن بتوفير صحة أفضل للجميع، يتيح الطبي الفرصة للمستخدمين من الوصول إلى أكثر من مليون صفحة من المحتوى الطبي العربي ويوفر أحدث المعلومات الطبية الموثوقة لأي شخص يحتاج إليها من خلال موقعنا</p>

                        
                      
                   
                    
                 

     
    </div>


    
    {% endblock %}
    