{% extends 'base.html' %}
{% block title %} Consutls{% endblock %}
{% block main %}
<style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    
    th, td {
      text-align: left;
      padding: 8px;
      
    }
    
    tr:nth-child(even) {background-color: #ffffff;}
    </style>

<div class="card">
<br/><br/><br/>
   
                  <table>       
                    <th>
                      <h1>Consults</h1>
                    </th>       
                    {% for item in consutls %}
                  <tr>
                    <td><h4><a class="dropdown-item" href="{% url 'consult' id=item.id %}">
                    {{ item.title }} </a></h4></td>
                    
                  </tr>
                  
                </table>



     {% endfor %}
    </div>
    {% endblock %}