{% extends 'base.html' %}
{% block main %}

<main class="mt-5">

  <!-- <div class="container">
    <div class="row row-cols-auto row-cols-md-auto g-5 mt-5">
      {% for art in object_list %}
      <div class="col">
        <div class="card" style="width: 18rem;">
          <div class="card-header text-center">{{ art.title }}</div>
          <img src={{art.img.url}} class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text text-center">{{ art.text|slice:200 }}</p>
            {% if user.is_authenticated %}
            <a href="{% url 'articale-detail' art.pk %}">
              more
            </a>
            <br />
            <a href="{% url 'edit_Artical' art.pk %}">
              edit
            </a>
            {% endif %}
            <div class="card-footer">
              <div class="text-muted">{{art.Date}}</div>
              <div class="text-muted">views {{art.views}}</div>
              <button type="button" class="btn btn-link text">{{art.author.first_name}}</button>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}

    </div>
    <div class="row">
      <div class="col">


      </div>
    </div>
  </div> -->

  <section class="wrapper">
    <div class="container">

      <div class="row">
        {% for art in object_list %}
        <div class="col-md-3">
        <div class="arc-con">
          <a href="{% url 'articale-detail' art.pk %}">
            <div class="card text-white card-has-bg click-col" style="background-image:url('{{art.img.url}}');">
              <img class="card-img d-none" src="{{art.img.url}}"
                alt="Goverment Lorem Ipsum Sit Amet Consectetur dipisi?">
              <div class="card-img-overlay d-flex flex-column">
                <div class="card-body">
                  <small class="card-meta mb-2">moho</small>
                  <h4 class="card-title mt-0 "><span class="arc-title">{{art.title }}</span></h4>
                  <small><i class="far fa-clock"></i> {{art.Date}}</small>
                  <small><i class="far fa-eye"></i> {{art.views}}</small>
                </div>
                <div class="card-footer">
                  <div class="media">
                    <img class="mr-3 rounded-circle"
                      src="https://cdn0.iconfinder.com/data/icons/user-pictures/100/male-512.png"
                      alt="Generic placeholder image" style="max-width:50px">
                      <!-- <i class="fa-solid fa-pen-to-square"></i> -->
                    <div class="media-body">
                      <h6 class="my-0 text-white d-block">{{art.author}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </a>
          {% if user.is_authenticated and art.author == user %}
          <a class="edit-link" href="{% url 'edit_Artical' art.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
          
          {% elif user.is_authenticated and user.is_superuser %}
          <a class="edit-link" href="{% url 'edit_Artical' art.pk %}"><i class="fa-solid fa-pen-to-square"></i></a>
          {% endif %}
        </div>
        </div>
        {% endfor %}



      </div>

    </div>
  </section>


</main>
{% endblock %}