{% extends 'base.html' %}

{% block main %}
<div class="card">
    <div class="card-header"></div>
    <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Name</label>
                <input required type="text" name="name" class="form-control" aria-describedby="emailHelp" placeholder="Enter name">
            </div>
            
            <div class="form-group">
                <label>Phone</label>
                <input required type="phone" name="phone" class="form-control" aria-describedby="emailHelp" placeholder="Enter phone">
            </div>
            
            <div class="form-group">
                <label>Age</label>
                <input required type="number" name="age" min="1" class="form-control" aria-describedby="emailHelp">
            </div>
            
            <div class="form-group">
                <label for="ma">male</label>
                
                <input required id="ma" type="radio" name="gender" value="M" aria-describedby="emailHelp" >
                <label for="fa">famale</label>
                
                <input required id="fa" type="radio" name="gender" value="F"  aria-describedby="emailHelp" >
            </div>
            
            <div class="form-group">
                <label>Subject</label>
                <input required type="text" name="title" class="form-control" aria-describedby="emailHelp" placeholder="Enter title">
            </div>
            <div class="form-group">
                <label>Explanation of the case</label>
                <textarea required class="form-control" name="text" placeholder="what ....?" rows="3"></textarea>
            </div>
            <div class="form-group">
                <label>Medical History</label>
                <textarea required class="form-control" name="histroy" placeholder="what ....?" rows="3"></textarea>
            </div>

            <label>File</label>
            <input type="file" class="form-control-file" name="img" accept="image">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
{% endblock %}